.products-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    display:flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.product img {
    width: 300px;
}

@media(max-width: 700px) {
    .products-list {
        flex-direction: column;
    }
}